*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header, section h2, .conta2 h3, .conta h3, .conta1 h3, .mit{
    font-family: "Bungee", sans-serif;
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}
header, .mit, footer{
    background-color: #182c61;

}
header,.containers, .mit{
    color: #182c61;
}
header li{
    display: inline;
    font-size: 16px;
}
header li a, header h1, .mit, footer{
    color: #ecf0f1;
    text-decoration: none;
    margin-right: 8px;
}
header .containers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.containers{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 16px ;
}
.link img, .conta1 img {
    height: 24px;
}
section {
    padding: 24px 0;
}
.link li{
    display: inline;
    margin: 0 auto;
    margin-right: -23px;
}
.containers {
    display: flex;
}
.containers img{
    margin-right: 30px;
}
section p{
    margin-bottom: 8px;
}
section h2{
    margin-bottom: 16px;
}

.conta, .conta1{
    display: block;
}
.conta li{
    list-style-type: none;
}
.conta1{
    margin: 0 15%;
    margin-top: 49px;
    list-style-type: none;
}
.conta2{
    margin-top: 49px;
    list-style-type: none;
}
.conta form{
    width: 100px;
} 
form .text, .email, .tel{
    margin-bottom: 10px;
    padding: 8px px;
}
.text{
    margin-top: 15px;
}
input{
    width: 310px;
    height: 35px;
}
.text1{
    height: 180px;
    padding-top: 0;
}
.mit{
    margin-top: 8px;
    border: none;
    
}
.conta1 img{
    margin-top: 16px;
    margin-right: 10px;
}
.conta2 p{
    margin-top: 16px;
    width: 500px;
}
.conta h3, .conta1 h3, .conta2 h3{
    width: 300px;
}
.conta1 {
    margin: 45px 100px;
    margin-left: 200px;
}
footer{
    padding: 15px;
    width: 100%;
    padding-left: 30px;
}
textarea{
    height: 200px;
    width: 310px;
}

